@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/COREV15.CSS" rel="stylesheet" />
<div id="dragupload">
    <table id="example" cellspacing="0" width="100%">
        <thead>
            <tr class="ms-viewheadertr ms-vhltr" role="row">
                <th class="ms-headerCellStyleIcon ms-vh-icon ms-vh-selectAllIcon">
                    <span class="ms-selectall-span" tabindex="0" id="cbxSelectAllItems55" title="Select or deselect all items">
                        <span tabindex="-1" class="ms-selectall-iconouter">
                            <img class="ms-selectall-icon" alt="" src="~/Content/spcommon.png">
                        </span>
                    </span>
                </th>
                <th class="ms-vh2">
                    <div>Name</div>
                </th>
                <th class="ms-vh2">Position</th>
                <th class="ms-vh2">Office</th>
                <th class="ms-vh2">Age</th>
                <th class="ms-vh2">Start date</th>
                <th class="ms-vh2">Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr class="ms-itmHoverEnabled ms-itmhover">
                <td class="ms-cellStyleNonEditable ms-vb-itmcbx ms-vb-imgFirstCell" tabindex="0">
                    <div role="checkbox" class="s4-itm-cbx s4-itm-imgCbx" tabindex="-1" title="UC014 Maintain Menu">
                        <span class="s4-itm-imgCbx-inner">
                            <span class="ms-selectitem-span">
                                <img class="ms-selectitem-icon" src="~/Content/spcommon.png" />
                            </span>
                        </span>
                    </div>
                </td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">Tiger Nixon</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">System Architect</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">Edinburgh</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">61</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">2011/04/25</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">$320,800</div></td>
            </tr>
            <tr class="ms-itmHoverEnabled ms-itmhover">
                <td class="ms-cellStyleNonEditable ms-vb-itmcbx ms-vb-imgFirstCell" tabindex="0">
                    <div role="checkbox" class="s4-itm-cbx s4-itm-imgCbx" tabindex="-1" title="UC014 Maintain Menu">
                        <span class="s4-itm-imgCbx-inner">
                            <span class="ms-selectitem-span">
                                <img class="ms-selectitem-icon" src="~/Content/spcommon.png" />
                            </span>
                        </span>
                    </div>
                </td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">Tiger Nixon</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">System Architect</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">Edinburgh</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">61</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">2011/04/25</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">$320,800</div></td>
            </tr>
            <tr class="ms-itmHoverEnabled ms-itmhover">
                <td class="ms-cellStyleNonEditable ms-vb-itmcbx ms-vb-imgFirstCell" tabindex="0">
                    <div role="checkbox" class="s4-itm-cbx s4-itm-imgCbx" tabindex="-1" title="UC014 Maintain Menu">
                        <span class="s4-itm-imgCbx-inner">
                            <span class="ms-selectitem-span">
                                <img class="ms-selectitem-icon" src="~/Content/spcommon.png" />
                            </span>
                        </span>
                    </div>
                </td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">Tiger Nixon 2</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">System Architect</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">Edinburgh</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">61</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">2011/04/25</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">$320,800</div></td>
            </tr>
            <tr class="ms-itmHoverEnabled ms-itmhover">
                <td class="ms-cellStyleNonEditable ms-vb-itmcbx ms-vb-imgFirstCell" tabindex="0">
                    <div role="checkbox" class="s4-itm-cbx s4-itm-imgCbx" tabindex="-1" title="UC014 Maintain Menu">
                        <span class="s4-itm-imgCbx-inner">
                            <span class="ms-selectitem-span">
                                <img class="ms-selectitem-icon" src="~/Content/spcommon.png" />
                            </span>
                        </span>
                    </div>
                </td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">Tiger Nixon 3</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">System Architect</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">Edinburgh</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">61</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">2011/04/25</div></td>
                <td class="ms-cellstyle ms-vb2"><div class="ms-vb itx">$320,800</div></td>
            </tr>
        </tbody>
    </table>

</div>